VITE_SUPABASE_URL=https://ahptvqriffkizhmsjiel.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFocHR2cXJpZmZraXpobXNqaWVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY4NTI0NjQsImV4cCI6MjA3MjQyODQ2NH0.W9eK_BxGmG8A8aCDDH-Yx4DJ7E6B5xFU900QhVXK8Mg
